
.sidebar{
    min-height: 100vh;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1e1efe;
    padding: 25px 15px;
    top: 0;
  left: 0;
  width: 80px; 
  
    transition: width 0.2s ease-in-out;
    

}
.sidebar--extended {
    width: 300px;

}
.sidebar img{
    width: 20px;

}
.sidebar .menu{
    display: block;
    margin-left: 15px;
    cursor: pointer;

}  
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #212121fe;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadein 1.5s;
    color: rgb(181, 180, 180);
}
@keyframes fadein {
    0%{
opacity: 0;
    }
    100%{
opacity: 1;
    }
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #fffcfc;
    cursor: pointer;
    &:hover{
        background-color: #38383896;
    }

}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
    
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
    
}
@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}
@media (max-width:900px) {
    .sidebar{
        background-color: #121212;
    }
    .sidebar .new-chat{
        display: none;
    }
    .sidebar .bottom{
        display: none;
    }

}
